/*.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.box{
    width: 150px;
    height: 150px;
}
#box1{
    background-color: aqua;
    color: aliceblue;
}
#box2{
    background-color: rgb(255, 0, 38);
    color: aliceblue;
}
#box3{
    background-color: rgb(76, 0, 255);
    color: aliceblue;
}
#box4{
    background-color: rgb(238, 255, 0);
    color: aliceblue;
}*/
* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

/*.container{
    border: 2px solid greenyellow;
    height: 300px;
    width: 600px;
    display: flex;
}*/

.cards{
    border: 2px solid greenyellow;
    height: 600px;
    width: 300px;
    display: flex;
   
    
}

.first{
    background-color: burlywood;
   
}
.second{
    background-color: chocolate;
   
}
.third{
    background-color: darksalmon;
    
}